//TODO Orgainse colors
// dark
// main bg and text
$dark1: #1c1b1f;
$text: #e8e8e8;

// time table card
$highlight: #443f51;
$secondary: #2a2830;
$text-primary: #ccc3db;

// card
$dark: #4f378b;
$text-primary-2: #c2adf2;


// notification
$bg: #f3b9b6;
$text: #8d4945;


// badge
$icon: #d4bfff;
$bg: #1c1b1f;
$text: #b0adb1;
$border: #605c68;



/////////////////////////////////////////////////////////////   
// light
// main bg and text
$bg: #fffbfe;
$text: #1b191e;

// time table card
$highlight: #443f51;
$secondary: #2a2830;
$text-primary: #ccc3db;

// card
$dark: #4f378b;
$text-primary-2: #c2adf2;


// notification
$bg: #f3b9b6;
$text: #8d4945;


// badge
$icon: #d4bfff;
$bg: #1c1b1f;
$text: #b0adb1;
$border: #605c68;
