@use '../../sass' as *;
@use '../../sass/grid';

// Used in loading timetable and no-classes timetable
%content-template {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    flex-grow: 1;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }
    
    @include lg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        flex-grow: 1;
        min-height: 100vh;
    }

    .home-header {
        padding-top: $padding * 2;
        padding-left: $padding;
        padding-right: $padding * 2;
        width: grid.columns(12);
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: flex-start;

        .greeting {
            font-size: $font-size * 0.9;
            font-weight: 400;

            .username {
                font-size: $font-size * 1.9;
                
                @include lg {
                    font-size: $font-size * 2.5;
                }
            }
        }

        .notification-button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;

            .notification-icon {
                font-size: $font-size * 1.75;

                @include lg {
                    font-size: $font-size * 2.35;
                }
    
                @include light {
                    color: #654ea2;
                }
    
                @include dark {
                    color: #d1bdff;
                }
            }
        }
    }

    .stats-container {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-shrink: 0;
        gap: $gap;

        overflow-x: auto;
        padding: $padding;
        width: grid.columns(12);

        &::-webkit-scrollbar {
            display: none;
        }

        @include lg {
            order: 2;
            width: grid.columns(5);

            flex-wrap: wrap;
        }
    }

    .timetable-container {
        width: grid.columns(12);
        display: flex;
        flex-direction: column;
        min-height: responsive-height(60);
        
        @include lg {
            order: 1;
            width: grid.columns(7);
            height: responsive-height(82);
        }

        .weekday-navbar {
            display: flex;
            flex-direction: row;
            gap: $gap;
            flex-shrink: 0;
            padding: $padding;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            @include md {
                justify-content: center;
            }

            @include lg {
                justify-content: space-between;
                padding-right: $padding * 1.5;

                * {
                    flex-grow: 1;
                    border-radius: $border-radius;
                }
            }
        }

        .subject-card-container {
            display: flex;
            flex-direction: column;
            gap: $gap;
            padding: $padding;
            flex-grow: 1;

            @include lg {
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: block;
                    width: 5px;
                }
            
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;

                    @include light {
                        background-color: #cccccc66;
                    }

                    @include dark {
                        background-color: #cccccc11;
                    }
                }
            
                &::-webkit-scrollbar-track {
                    background: transparent;
                    margin: 10px 0;
                }
            }

            &.no-class {
                @extend %content-template;
                padding-top: $padding * 2.2; 
                
                @include light {
                    color: #eae4ed;
                }
                
                @include dark {
                    color: #635c72;
                }

                .no-clas-icon {
                    font-size: $font-size * 8;
                }

                .no-class-text {
                    font-size: $font-size * 1.5;
                    font-weight: 400;
                    text-align: center;

                }
            }

            &.loading {
                @extend %content-template;
                padding-top: $padding * 3; 
                
                @include lg {
                    padding-top: $padding * 3.5; 
                }

                svg {
                    scale: 1.05;

                    @include lg {
                        scale: 1.25;
                        padding-right: $padding * 1.5;
                    }
                }
            }
        }
    }
}