@use '../../sass' as *;
@use '../../sass/grid';

.subject-card-container {
    .subject-card {
        display: flex;
        flex-direction: column;

        border-radius: $border-radius;
        padding: $padding;

        @include light {
            background-color: #ede4fa;
            color: #635c72;
        }

        @include dark {
            background-color: #443f51;
            color: #ccc3db;
        }

        .toggle-icon-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            padding: 0 $padding * 0.6;

            .activity-icon-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $gap * 1;

                .activity-icon {
                    font-size: $font-size * 3.5;
                }

                .text-container {
                    .code {
                        font-size: $font-size * 1.5;
                        font-weight: 400;
                        margin: 0;
                    }
            
                    .slot {
                        font-size: $font-size * 1;
                        margin: 0;
                    }
                }
            }

            .toggle-icon {
                font-size: $font-size * 1.5;
                transition: 0.5s;
            }

            .toggle-icon.active {
                transform: rotate(-180deg);
            }
        }


        .seperator {
            width: 100%;
        }

        .additional-details-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: $padding;
            padding-left: 0;

            .text-container {
                * {
                    margin: 0;
                }
            }
        }
    }
}