@use './sass' as *;
@use './sass/reset';
@use './sass/grid';

@function responsive-height($height) {
    @return calc(var(--vh) * #{$height});
}
 
.bg-container {
    display: flex;
    flex-direction: column;
    min-height: responsive-height(100);

    @include lg {
        flex-direction: row-reverse;
    }

    @include light {
        background-color: #fffbfe;
        color: #1b191e;
    }

    @include dark {
        background-color: #1c1b1f;
        color: #e8e8e8;
    }
    
    .body {
        height: responsive-height(85);
        flex-grow: 1;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        
        @include lg {
            flex-grow: 1;
            padding-right: grid.columns(0.75);
            min-height: 100vh;
        }

        @include xl {
            padding-right: grid.columns(1.2);
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-shrink: 0;
        gap: $gap;

        padding: $padding * 1.25;
        padding-top: $padding * 0.7;

        @include lg {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: $gap * 1;
            
            padding: 0;
            padding-left: grid.columns(0.75);
            width: grid.columns(3);
            min-height: 100vh;
        }

        @include light {
            background-color: #f1e8f7;
        }

        @include dark {
            background-color: #2a2831;
        }
    }
}